<ul>
  <% if user_signed_in? %>
  <br><p>
  <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, :class => "btn btn-info" %>
</p>
  <% else %>
  <li>
  <%= link_to 'Sign In', new_user_session_path %>
</li>
<li>
  <%= link_to 'Sign Up', new_user_registration_path %>
</li>
  <% end %>
</ul>

<h1 class="text-center">Menu</h1>


<body class="container" style="border">
    <div class="row text-center">
        <div class="col-lg-6 border">
        <%= link_to characters_path do %>
        <%= image_tag "existing_characters.png", height: 300%><br>
        <%= label_tag "Existing" %>
        <% end %>
        </div>

        <div class="col-lg-6 border">
        <%= link_to new_character_path do %>
        <%= image_tag "new_character.png", height: 300 %><br>
        <%= label_tag "Create" %>
        <% end %>
        </div>
    </div>
</body>

  <br><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-info" %>
