<h1>Character Index</h1>
<% if user_signed_in? %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Class</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% current_user.characters.each do |character| %>
                <tr>
                    <td><%= character.name %></td>
                    <td><%= character.race %></td>
                    <td><%= character.character_class %></td>


                    <td>
                        <%= link_to "Character Sheet", character_path(character)%>
                    </td>
                    <td>
                        <%= link_to '🗑', character_path(character), method: :delete %>
                    </td>
            <% end %>
        </tbody>
    </table>
<% end %>

<br><%= link_to 'Main Menu', menu_path, :class => "btn btn-info" %><br>
<br><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-info" %>
