<h1>Create Your New DnD Charater</h1>




<%= form_with url: characters_new_path, local: true, method: :post do %>

  <div>
   <%= label_tag "race_type" %>
   <%= select_tag "race_type", options_for_select([ "Human", "Elf", "Dwarf", "Halfling", "Gnome", "Half-Orc", "Half-Elf", "Drow", "Warforged" ]), prompt: 'Choose one...' %>
  </div>

  <div>
   <%= label_tag "class_type" %>
   <%= select_tag "class_type", options_for_select([ "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" ]), prompt: 'Choose one...' %>
  </div>

  <div>
    <%= StatsController.new %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
