<h1>Create Your New DnD Charater</h1>




<%= form_with model: character, url: characters_path, local: true, method: :post, scope: :character do |form| %>
  <% race_options= ["Human", "Elf", "Dwarf", "Halfling", "Gnome", "Half-Orc", "Half-Elf", "Drow", "Warforged" ] %>
  <% class_options= ["Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"]%>
  <div>
    <%= form.label "race_type" %>
    <%# label_tag "race_type" %>
    <%= form.select(:race, race_options) %>
    <%# select_tag "race_type", options_for_select([ "Human", "Elf", "Dwarf", "Halfling", "Gnome", "Half-Orc", "Half-Elf", "Drow", "Warforged" ]), prompt: 'Choose one...' %>
  </div>

  <div>
    <%= form.label "class_options"%>
   <%# label_tag "class_type" %>
    <%= form.select(:character_class, class_options) %>
   <%# select_tag "class_type", options_for_select([ "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" ]), prompt: 'Choose one...' %>
  </div>

  <div>
    <%= form.submit "Submit" , :class => "btn btn-info"%>
  </div>
<% end %>

<br><%= link_to 'Main Menu', menu_path, :class => "btn btn-info" %><br>
<br><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-info" %>