<h1>Create Your New DnD Charater</h1>

<h2> Select Your Stats </h2>


<%= form_with url: characters_new_path, local: true, method: :post do %>

<div>
   <%= f.label "race_type" %>
   <%= f.select "race_type", options_for_select([ "Human", "Elf", "Dwarf", "Halfling", "Gnome", "Half-Orc", "Half-Elf", "Drow", "Warforged" ]), prompt: 'Choose one...',  %>
 </div>

<div>
   <%= f.label_tag "class_type" %>
   <%= f.select "class_type", options_for_select([ "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" ]), prompt: 'Choose one...',  %>
 </div>

 <%= f.submit "Submit" %>

<% end %>
