<h1>Create Your New DnD Charater</h1>




<%= form_with model: character, url: characters_path, local: true, method: :post, scope: :character do |form| %>
  <% race_options= ["Human", "Elf", "Dwarf", "Halfling", "Gnome", "Half-Orc", "Half-Elf", "Drow", "Warforged" ] %>
  <% class_options= ["Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"]%>

  <div>
    <%= form.label "race_type" %>
    <%= form.select(:race, race_options) %>
  </div>

  <div>
    <%= form.label "class_options"%>
    <%= form.select(:character_class, class_options) %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
