<h1>Dungeons & Dragons Character</h1>

<br><%= link_to 'Main Menu', menu_path, :class => "btn btn-info" %>

<table class="table table-bordered">
        <tr>
            <th>Name</th>
            <td><%= character.name %></td>
        </tr>
        <tr>
            <th>Race</th>
            <td><%= character.race %></td>
        </tr>
        <tr>
            <th>Class</th>
            <td><%= character.character_class %></td>
        </tr><tr>
            <th>Level</th>
            <td><%= character.stat.level %></td>
        </tr>
        <tr>
            <th>Strength</th>
            <td><%= character.stat.strength %></td>
        </tr>
        <tr>
            <th>Strength Modifier</th>
            <td><%= character.stat.strength_mod %></td>
        </tr>
        <tr>
            <th>Dexterity</th>
            <td><%= character.stat.dexterity %></td>
        </tr>
        <tr>
            <th>Dexterity Modifier</th>
            <td><%= character.stat.dexterity_mod %></td>
        </tr>
        <tr>
            <th>Constitution</th>
            <td><%= character.stat.constitution %></td>
        </tr>
        <tr>
            <th>Constitution Modifier</th>
            <td><%= character.stat.constitution_mod %></td>
        </tr>
        <tr>
            <th>Intelligence</th>
            <td><%= character.stat.intelligence %></td>
        </tr>
        <tr>
            <th>Intelligence Modifier</th>
            <td><%= character.stat.intelligence_mod %></td>
        </tr>
        <tr>
            <th>Wisdom</th>
            <td><%= character.stat.wisdom %></td>
        </tr>
        <tr>
            <th>Wisdom Modifier</th>
            <td><%= character.stat.wisdom_mod %></td>
        </tr>
        <tr>
            <th>Charisma</th>
            <td><%= character.stat.charisma %></td>
        </tr>
        <tr>
            <th>Charisma Modifier</th>
            <td><%= character.stat.charisma_mod %></td>
        </tr>
        <tr>
            <th>Armor Class</th>
            <td><%= character.stat.armor_class %></td>
        </tr>
        <tr>
            <th>Hitpoints</th>
            <td><%= character.stat.hitpoints %></td>
        </tr>
        <tr>
            <th>Speed</th>
            <td><%= character.stat.speed %></td>
        </tr>
        <tr>
            <th>Hit Dice</th>
            <td><%= character.stat.hit_dice %></td>
        </tr>
        <tr>
            <th>Proficiency Bonus</th>
            <td><%= character.stat.proficiency_bonus %></td>
        </tr>
        <tr>
            <th>Initiative Bonus</th>
            <td><%= character.stat.initiative_bonus %></td>
        </tr>
        <tr>
            <th>Passive Perception</th>
            <td><%= character.stat.passive_perception %></td>
        </tr>

</table>

<br><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-info" %>