<h1>Dungeons & Dragons Character</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Level</th>
            <th>Strength</th>
            <th>Strength Modifier</th>
            <th>Dexterity</th>
            <th>Dexterity Modifier</th>
            <th>Constitution</th>
            <th>Constitution Modifier</th>
            <th>Intelligence</th>
            <th>Intelligence Modifier</th>
            <th>Wisdom</th>
            <th>Wisdom Modifier</th>
            <th>Charisma</th>
            <th>Charisma Modifier</th>
            <th>Armor Class</th>
            <th>Hitpoints</th>
            <th>Speed</th>
            <th>Hit Dice</th>
            <th>Proficiency Bonus</th>
            <th>Initiative Bonus</th>
            <th>Passive Perception</th>
            <th>Spell</th>
        </tr>
    </thead>
    <tbody>
        <td><%= character.name %></td>
        <td><%= character.race %></td>
        <td><%= character.character_class %></td>
        <td><%= character.stat.level %></td>
        <td><%= character.stat.strength %></td>
        <td><%= character.stat.strength_mod %></td>
        <td><%= character.stat.dexterity %></td>
        <td><%= character.stat.dexterity_mod %></td>
        <td><%= character.stat.constitution %></td>
        <td><%= character.stat.constitution_mod %></td>
        <td><%= character.stat.intelligence %></td>
        <td><%= character.stat.intelligence_mod %></td>
        <td><%= character.stat.wisdom %></td>
        <td><%= character.stat.wisdom_mod %></td>
        <td><%= character.stat.charisma %></td>
        <td><%= character.stat.charisma_mod %></td>
        <td><%= character.stat.armor_class %></td>
        <td><%= character.stat.hitpoints %></td>
        <td><%= character.stat.speed %></td>
        <td><%= character.stat.hit_dice %></td>
        <td><%= character.stat.proficiency_bonus %></td>
        <td><%= character.stat.initiative_bonus %></td>
        <td><%= character.stat.passive_perception %></td>
        <td><%= character.spell %></td>

    </tbody>


</table>
<div>
  <%= link_to 'Edit Character', edit_character_path(character)%>
</div>
